                                <!-- idme 3.0 -->
                                <!-- <div class="idMeClosed idMeBox_3" v-if="enableSavings && enableABVIdme">
                                    <div class="verifyTop flex">
                                        <div v-if="enableIdme">
                                          <div v-if="showIdmeIcon">
                                            <img class="idmeIcon" src="//p1-ofp.static.pub//fes/cms/2024/05/23/fkf7xfoh13vnquxwteu5vya9ny3req025213.svg" alt="idme icon" loading="lazy">
                                          </div>
                                          <div v-if="showEduIcon">
                                            <img class="idmeIcon" src="//p1-ofp.static.pub//fes/cms/2024/09/24/bh65tzjik77svok0e8plvcd3le4gzv207041.svg" alt="edu icon" loading="lazy">
                                          </div>
                                        </div>
                                        <div v-if="enableSheerId" class="verifyTopImg2"></div>
                                    </div>
                                    <div class="verifyBottom">
                                        <div class="comments">
                                            <p v-if="showNotVerifiedMsg">
                                              <span tabindex="0">Are you a current or rising College Student, Teacher, Nurse, Medical Provider, First Responder, or Senior (55+)?</span>
                                              <span class="showSavings" tabindex="0" :aria-expanded="showIdmeBtn" role="button">Verify potential savings</span>
                                            </p>
                                            <p v-if="showVerifiedMsg">
                                              <span tabindex="0">You are verified, and applicable discounts have been applied and itemized in your cart.</span>
                                            </p>
                                        </div>
                                        <div v-show="showIdmeBtn && !idmeApplied && enableIdme" id="verifyWithIdmeGreen" class="verifyWithIdmeGreen">
                                          <span
                                              id="idme-wallet-button"
                                              :data-scope="idmeGroups"
                                              :data-client-id="idmeClientId"
                                              :data-redirect="redirect"
                                              data-response="token"
                                              data-display="popup"
                                              >
                                          </span>
                                        </div>
                                        <div class="verifyWithSheerid_container"
                                            :data-program-id="sheeridClientId"
                                            :data-campaign-id="compaignId"
                                            :data-verify-url="veriftUrl"
                                        >
                                            <a :class="{verifyWithSheerid:showIdmeBtn && !sheerIdApplied && enableSheerId}" class="sheerIdefaultClass" data-tkey="Cart.sheerid.verify" @click="applySheerid" aria-label="sheerid" role="button">
                                                <#Cart.sheerid.verify#>
                                            </a>
                                        </div>
                                        <div class="verifyWithSheerid_container" v-if="showTeacher">
                                            <a :class="{verifyWithSheerid:showIdmeBtn && !sheerIdApplied && enableSheerId}" class="sheerIdefaultClass" data-tkey="cart.sheerid.teacher.verify" @click="applySheeridTeacher" aria-label="sheerid" role="button">
                                                <#cart.sheerid.teacher.verify#>
                                            </a>
                                        </div>
                                        <div class="idmeVerified" v-if="showVerified">
                                            <img  loading="lazy" src="//p4-ofp.static.pub//fes/cms/2024/05/23/d0tbdvnyx7o5ziualm5wb03zorn8xy060389.svg" alt="idme verified icon">
                                            <span>You're verified!</span>
                                        </div>
                                    </div>
                                </div> -->